/**
* @name LilyPichu
* @author RabbyDevs#0001
* @description A theme based on @Melonturtle_ stream design, fork of Nyria's version.
* @version 0.1
*/

:root {
  /* --- User variables --- */

  /* Jumping GIF */
  --jumping-gif: url("https://i.imgur.com/dCd49s0.gif");

  /* Background (if you want an image replace it by : 

  background-tertiary-alt: url("image-link"); without that => */
  --background-tertiary-alt: #ffc7d4;

  /* Border-radius for the whole theme */
  --border-radius: 20px;
}

.theme-dark {
  /* Text */
  --text-normal: #f8e1e5;
  --header-primary: #f8e1e5;
  --interactive-normal: #fab1bd;
  --interactive-hover: #ffffff;
  --channels-default: #f8e1e5a9;

  --text-muted: #e2c1c7;
  --interactive-muted: #ad8c91;

  --header-secondary: #e2c1c7;
  /* --interactive-hover: #e2c1c7;
  --interactive-active: #e2c1c7; */

  /* Background color */
  --background-primary: #5e3640;
  --background-secondary: #49292f;
  --background-secondary-alt: #3b1d24;
  --background-tertiary: #220f14;
  --background-floating: #221115;
  --background-accent: #c5536c;
  --background-accent-active: #b64a61;
  --channeltextarea-background: var(--background-secondary);
  --background-modifier-hover: rgba(56, 31, 31, 0.32);
  --background-modifier-active: rgba(19, 12, 12, 0.32);
  --background-modifier-selected: rgba(31, 21, 21, 0.32);
  --toast-background: #5e3640 !important;
  --toast-header: #3b1d24 !important;
  --toast-contents: #49292f !important;
  --toast-border: #49292f !important;
  --input-background: var(--background-secondary);

  /* Scrollbar */
  --scrollbar-auto-thumb: var(--background-tertiary);
  --scrollbar-auto-track: var(--background-secondary-alt);
  --scrollbar-thin-thumb: var(--background-tertiary);
  --scrollbar-thin-track: transparent;

  /* Other */
  --channel-text-area-placeholder: var(--interactive-normal);
  --deprecated-quickswitcher-input-background: var(--background-primary);
  --status-danger: var(--background-accent);
  --channel-icon: var(--interactive-muted);
  --brand-experiment: var(--background-accent);
  --mention-foreground: var(--header-primary);
  --mention-background: var(--background-accent);
  --guild-boosting-pink: var(--text-normal);
  --home-background: var(--background-secondary);
  --modal-background: var(--background-floating);
  --modal-footer-background: var(--background-floating);
  --deprecated-card-bg: var(--background-tertiary);
  --background-modifier-accent: var(--background-secondary);
  --button-secondary-background: var(--background-secondary);
  --brand-experiment-560: var(--background-accent-active);
  --control-brand-foreground: var(--background-accent-active);
  --button-outline-primary-border: var(--background-secondary-alt);
  --button-secondary-background-hover: var(--background-secondary-alt);
  --button-positive-background-hover: var(--background-primary);
  --button-outline-primary-background-hover: var(--button-outline-primary-background-hover);
  --button-outline-primary-border-hover: var(--background-primary);
  --button-outline-primary-background-active: var(--background-primary);
  --button-outline-primary-border-active: var(--background-tertiary-alt);
  --brand-experiment-600: var(--background-accent-active);
  --primary-600: var(--background-primary);
  --background-message-highlight: #fab1bd1c;
  --primary-630: var(--background-tertiary);
  --brand-experiment-10a: #a36c751c;
  --info-warning-foreground: var(--background-tertiary-alt);
  --background-mentioned: #ffc7d42a;
  --background-mentioned-hover: #b68e972a;
}

/* begin */
.theme-dark .bar-2H7Q9u, .theme-dark .markDash-1ATsxA {
 background-color: var(--background-tertiary); 
}

.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB {
  background-color: var(--background-secondary);
}

.tabBar-1_P75h {
  background-color: var(--background-secondary);
}

.theme-dark .emptyPage-2TGR7j, .theme-dark .scrollerContainer-y16Rs9 {
  background-color: var(--background-secondary);
}

.list-2u03C- {
  background-color: var(--background-floating);
}

.theme-dark .boostedGuildTierIconBackgroundWithVisibleBanner-2KrNB1, .theme-light .boostedGuildTierIconBackgroundWithVisibleBanner-2KrNB1 {
  color: var(--background-accent-active);
}

.theme-dark .iconBackgroundTierNone-3M21Zn, .theme-dark .iconBackgroundTierOne-1S68CI, .theme-dark .iconBackgroundTierThree-2hfNBO, .theme-dark .iconBackgroundTierTwo-2XoNXD {
  color: var(--background-accent-active);
}

.iconTierOne-2h4ba6, .iconTierTwo-3MBPlM {
  color: var(--background-tertiary-alt);
}

.iconTierNone-1iHKfJ {
  color: var(--background-tertiary-alt);
}

.videoGridWrapper-2WpXPj {
  background: var(--background-tertiary);
}

.container-ZMc96U.transparent-1lUmft {
  background: var(--background-tertiary);
}

.theme-dark .children-3xh0VB:after {
  background: #5e364000;
}

.theme-dark .background-3xJH_4 {
  color: var(--background-secondary-alt);
}

.theme-dark .tierInProgress-1vFUnw {
  background-color: var(--background-secondary-alt);
}

.theme-dark .background-3xJH_4 {
  background-color: var(--background-floating);
}

.editCard-K9Q9mb.active-Xi2rnV {
  background-color: var(--background-secondary-alt);
}

.icon-2TbMdT {
  background-color: var(--background-primary);
}

.theme-dark .directoryModal-YJsOMv {
  background-color: var(--background-primary);
}

.theme-dark .tierBody-1d3UiS {
  background-color: var(--background-secondary);
}

.tierIconLocked-RGSkSl {
  color: var(--background-tertiary-alt);
}

.theme-dark .tierHeaderLocked-30MLlO {
  background-color: var(--background-secondary-alt);
}

.theme-dark .tierHeaderUnlocked-1OpOLf {
  background-color: var(--background-secondary-alt);
}

.theme-dark .header-3xB4vB {
  background-color: var(--background-secondary);
}

.theme-dark .container-1um7CU {
  background-color: var(--background-secondary);
}

.theme-dark .innerHeader-1cC3Fp:after {
  background: var(--background-secondary);
}

.colorBrand-3cPPsm {
  color: var(--background-accent)
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
  background-color: var(--background-accent) !important;
}
.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
  background-color: var(--background-accent-active) !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: var(--background-accent);
  border-color: var(--background-accent);
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

.colorBrand-3cPPsm {
  color: #c5536c;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
  background-color: #c5536c !important;
}
.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #c5536c;
  border-color: #c5536c;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

/* Comfy-Style Spotify Player
 * Kanged and modified code from https://github.com/Comfy-Themes/Discord
* fixed with my terrible css knoledge to be actually readable
 */
#vc-spotify-player {
  --spotify-wave-width: 240px;
  --spotify-vencord-color: var(--background-primary);
  --spotify-vencord-text: white
}
@keyframes spotifywave {
  0% {
    -webkit-mask-position-x: var(--spotify-wave-width);
  }
  100% {
    -webkit-mask-position-x: 0;
  }
}
#vc-spotify-player::before {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 1;
  width: var(--spotify-wave-width);
  margin-top: -29px;
  left: 0;
  background: var(--spotify-vencord-color);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="240" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: spotifywave 8s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
#vc-spotify-player#vc-spotify-player  {
  border-bottom: none;
background: var(--spotify-vencord-color); /* the best i could do :/ */
  }
#vc-spotify-song-title#vc-spotify-song-title,
.vc-spotify-ellipoverflow.vc-spotify-ellipoverflow,
.vc-spotify-artist.vc-spotify-artist,
.vc-spotify-album.vc-spotify-album
/* , .vc-spotify-time-right, .vc-spotify-time-left */  {
  color: var(--spotify-vencord-text);
}
#vc-spotify-player [class*="bar-"] {
  background: hsl(var(--primary-700-hsl) / 0.3);
}
#vc-spotify-player [class*="barFill"] {
  background: hsl(var(--primary-700-hsl) / 0.3);
}
[class*=wrapper-]:not(:empty) + #vc-spotify-player {
  margin-top: 27px;
}
[class*=panels-] [class*=wrapper-] [class*=container-] {
  border-bottom: none;
}

/* Change Vencord's Spotify Controller's Shuffle/Repeat Button Color */
.vc-spotify-button {
    background: none;
    color: var(--background-modifier-accent);
    --vc-spotify-green: var(--background-accent); /* Change the value here */
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END OF MODIFICATIONS TO SPOTIFY THING */

.scroller-18M1mG{
  background: var(--background-secondary)
}

/* END OF LILYPICHU THEME */
