/* begin */
.theme-dark .bar-2H7Q9u, .theme-dark .markDash-1ATsxA {
 background-color: var(--background-tertiary); 
}

.theme-dark .container-2IKOsH, .theme-dark .header-3xB4vB {
  background-color: var(--background-secondary);
}

.tabBar-1_P75h {
  background-color: var(--background-secondary);
}

.theme-dark .emptyPage-2TGR7j, .theme-dark .scrollerContainer-y16Rs9 {
  background-color: var(--background-secondary);
}

.list-2u03C- {
  background-color: var(--background-floating);
}

.theme-dark .boostedGuildTierIconBackgroundWithVisibleBanner-2KrNB1, .theme-light .boostedGuildTierIconBackgroundWithVisibleBanner-2KrNB1 {
  color: var(--background-accent-active);
}

.theme-dark .iconBackgroundTierNone-3M21Zn, .theme-dark .iconBackgroundTierOne-1S68CI, .theme-dark .iconBackgroundTierThree-2hfNBO, .theme-dark .iconBackgroundTierTwo-2XoNXD {
  color: var(--background-accent-active);
}

.iconTierOne-2h4ba6, .iconTierTwo-3MBPlM {
  color: var(--background-tertiary-alt);
}

.iconTierNone-1iHKfJ {
  color: var(--background-tertiary-alt);
}

.videoGridWrapper-2WpXPj {
  background: var(--background-tertiary);
}

.container-ZMc96U.transparent-1lUmft {
  background: var(--background-tertiary);
}

.theme-dark .children-3xh0VB:after {
  background: #5e364000;
}

.theme-dark .background-3xJH_4 {
  color: var(--background-secondary-alt);
}

.theme-dark .tierInProgress-1vFUnw {
  background-color: var(--background-secondary-alt);
}

.theme-dark .background-3xJH_4 {
  background-color: var(--background-floating);
}

.editCard-K9Q9mb.active-Xi2rnV {
  background-color: var(--background-secondary-alt);
}

.icon-2TbMdT {
  background-color: var(--background-primary);
}

.theme-dark .directoryModal-YJsOMv {
  background-color: var(--background-primary);
}

.theme-dark .tierBody-1d3UiS {
  background-color: var(--background-secondary);
}

.tierIconLocked-RGSkSl {
  color: var(--background-tertiary-alt);
}

.theme-dark .tierHeaderLocked-30MLlO {
  background-color: var(--background-secondary-alt);
}

.theme-dark .tierHeaderUnlocked-1OpOLf {
  background-color: var(--background-secondary-alt);
}

.theme-dark .header-3xB4vB {
  background-color: var(--background-secondary);
}

.theme-dark .container-1um7CU {
  background-color: var(--background-secondary);
}

.theme-dark .innerHeader-1cC3Fp:after {
  background: var(--background-secondary);
}

.colorBrand-3cPPsm {
  color: var(--background-accent)
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
  background-color: var(--background-accent) !important;
}
.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
  background-color: var(--background-accent-active) !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: var(--background-accent);
  border-color: var(--background-accent);
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

.colorBrand-3cPPsm {
  color: #c5536c;
}
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  background-color: var(--background-modifier-hover) !important;
}

/* Buttons */
.lookFilled-yCfaCM {
  background-color: #c5536c !important;
}
.lookFilled-yCfaCM:active,
.lookFilled-yCfaCM:hover {
  background-color: #b64a61 !important;
}
.lookOutlined-3yKVGo:not(.colorWhite-1H92hK) {
  color: #c5536c;
  border-color: #c5536c;
}

/* Hover background */
.colorDefault-CDqZdO.focused-3qFvc8,
.colorDefault-CDqZdO:active:not(.hideInteraction-2jPGL_) {
  color: var(--interactive-normal);
}

/* Comfy-Style Spotify Player
 * Kanged and modified code from https://github.com/Comfy-Themes/Discord
* fixed with my terrible css knoledge to be actually readable
 */
#vc-spotify-player {
  --spotify-wave-width: 240px;
  --spotify-vencord-color: var(--background-primary);
  --spotify-vencord-text: white
}
@keyframes spotifywave {
  0% {
    -webkit-mask-position-x: var(--spotify-wave-width);
  }
  100% {
    -webkit-mask-position-x: 0;
  }
}
#vc-spotify-player::before {
  content: "";
  position: absolute;
  height: 25px;
  z-index: 1;
  width: var(--spotify-wave-width);
  margin-top: -29px;
  left: 0;
  background: var(--spotify-vencord-color);
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="240" height="25" viewBox="0 0 284 25"><path d="M283.999 15.2776C228.798 15.2776 211.243 -0.0317305 140.048 -0.000164877C69.0475 -0.000164877 51.2975 15.2776 8.58307e-06 15.2776V24.9998H284C284 24.9998 283.999 18.9392 283.999 15.2776Z"/></svg>');
  animation: spotifywave 8s linear infinite;
  animation-delay: 0s;
  opacity: 1;
}
#vc-spotify-player#vc-spotify-player  {
  border-bottom: none;
background: var(--spotify-vencord-color); /* the best i could do :/ */
  }
#vc-spotify-song-title#vc-spotify-song-title,
.vc-spotify-ellipoverflow.vc-spotify-ellipoverflow,
.vc-spotify-artist.vc-spotify-artist,
.vc-spotify-album.vc-spotify-album
/* , .vc-spotify-time-right, .vc-spotify-time-left */  {
  color: var(--spotify-vencord-text);
}
#vc-spotify-player [class*="bar-"] {
  background: hsl(var(--primary-700-hsl) / 0.3);
}
#vc-spotify-player [class*="barFill"] {
  background: hsl(var(--primary-700-hsl) / 0.3);
}
[class*=wrapper-]:not(:empty) + #vc-spotify-player {
  margin-top: 27px;
}
[class*=panels-] [class*=wrapper-] [class*=container-] {
  border-bottom: none;
}

/* Change Vencord's Spotify Controller's Shuffle/Repeat Button Color */
.vc-spotify-button {
    background: none;
    color: var(--background-modifier-accent);
    --vc-spotify-green: var(--background-accent); /* Change the value here */
    padding: 0;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END OF MODIFICATIONS TO SPOTIFY THING */

.scroller-18M1mG{
  background: var(--background-secondary)
}

/* END OF LILYPICHU THEME */
